In [69]:
# carregar biblioteca 
import pandas as pd
import seaborn as sns

## Leitura do conjunto de dados

### gorjetas

In [70]:
df_tips = sns.load_dataset('tips')
df_tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

- Dicionário de Dados

In [71]:
dicionario_gorjetas = pd.DataFrame([
    {
        "Nome": "total_bill",
        "Descricao": "O valor total da conta da refeição",
        "Tipo": "Quantitativo",
        "Subtipo": "Contínuo"
    },
    {
        "Nome": "tip",
        "Descricao": "Valor da gorjeta",
        "Tipo": "Quantitativo",
        "Subtipo": "Contínuo"
    },
    {
        "Nome": "sex",
        "Descricao": "Gênero do cliente",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal"
    },
    {
        "Nome": "smoker",
        "Descricao": "Se o cliente fuma",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal"
    },
    {
        "Nome": "day",
        "Descricao": "O dia da semana em que a refeição ocorreu.",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal"
    },
    {
        "Nome": "time",
        "Descricao": "Se a refeição foi feita durante o almoço ou o jantar.",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal"
    },
     {
        "Nome": "size",
        "Descricao": "O número de pessoas no grupo que fez a refeição.",
        "Tipo": "Quantitativo",
        "Subtipo": "Discreto"
    },
    
])

dicionario_gorjetas

,Nome,Descricao,Tipo,Subtipo
0,total_bill,O valor total da conta da refeição,Quantitativo,Contínuo
1,tip,Valor da gorjeta,Quantitativo,Contínuo
2,sex,Gênero do cliente,Qualitativo,Nominal
3,smoker,Se o cliente fuma,Qualitativo,Nominal
4,day,O dia da semana em que a refeição ocorreu.,Qualitativo,Nominal
5,time,Se a refeição foi feita durante o almoço ou o ...,Qualitativo,Nominal
6,size,O número de pessoas no grupo que fez a refeição.,Quantitativo,Discreto

- Estatística de tendência central e dispersão

In [72]:
#Funções que calculam a moda, o intervalo e o intervalo interquartil

#Função para calcular a moda
def mode(column):
    mode = column.mode()
    if not mode.empty: 
        return mode.iloc[0]
    else:
        return None
    
#Função para calcular o intervalo
def intervalo(column):
    inter = column.max() - column.min()
    return inter

#Função para calcular o intervalo interquartil
def intervalo_interquartil(column):
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    iqr = q3 - q1
    return iqr

In [73]:
# Lista para renomear o  titulo das colunas para melhor compreensão
titulo_tabela = {
    'mean': 'Média',
    'median': 'Mediana',
    'std': 'Desvio Padrão',
    'var': 'Variância',
    'mode': 'Moda',
    'intervalo': 'Intervalo',
    'intervalo_interquartil': 'Intervalo Interquartil'
}

In [74]:
# Filtrar apenas as colunas numéricas
numeric_columns  = df_tips.select_dtypes(include=['number'])

# Adicionado o calculo das medidas de tendência central e dispersão
tendencia_central_e_dispersao_values =  numeric_columns .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])

#Renomeando as colunas
tendencia_central_e_dispersao_values.rename(titulo_tabela, inplace=True)

#Imprimindo o DataFrame
tendencia_central_e_dispersao_values

                        total_bill       tip      size
Média                    19.785943  2.998279  2.569672
Mediana                  17.795000  2.900000  2.000000
Desvio Padrão             8.902412  1.383638  0.951100
Variância                79.252939  1.914455  0.904591
Moda                     13.420000  2.000000  2.000000
Intervalo                47.740000  9.000000  5.000000
Intervalo Interquartil   10.780000  1.562500  1.000000

- Calculo estastítica de forma separada para cada variável categórica

In [75]:
# Criando uma lista com as colunas numericas
colunas_numericas = df_tips.select_dtypes(include=['number']).columns

    - Por Gênero

In [76]:
# Adicionado o calculo das medidas de tendência central e dispersão
values_by_sex = (
    df_tips
    .groupby('sex')[colunas_numericas]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_sex = values_by_sex.rename(columns = titulo_tabela)

#Imprimindo o DataFrame
values_by_sex

       total_bill                                                    \
            Média Mediana Desvio Padrão  Variância   Moda Intervalo
sex
Male    20.744076   18.35      9.246469  85.497185  10.34     43.56
Female  18.056897   16.40      8.009209  64.147429  10.33     41.23

                                    tip                        ...       \
       Intervalo Interquartil     Média Mediana Desvio Padrão  ... Moda
sex                                                            ...
Male                    10.71  3.089618    3.00      1.489102  ...  2.0
Female                   8.77  2.833448    2.75      1.159495  ...  2.0

                                             size                        \
       Intervalo Intervalo Interquartil     Média Mediana Desvio Padrão
sex
Male         9.0                   1.76  2.630573     2.0      0.955997
Female       5.5                   1.50  2.459770     2.0      0.937644


       Variância Moda Intervalo Intervalo Interquartil
sex
Male    0.913931    2         5                    1.0
Female  0.879177    2         5                    1.0

[2 rows x 21 columns]

    - Caso fume ou não

In [77]:
# Adicionado o calculo das medidas de tendência central e dispersão
values_by_smoker = (
    df_tips
    .groupby('smoker')[colunas_numericas]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_smoker = values_by_smoker.rename(columns = titulo_tabela)

#Imprimindo o DataFrame
values_by_smoker

       total_bill                                                    \
            Média Mediana Desvio Padrão  Variância   Moda Intervalo
smoker
Yes     20.756344   17.92      9.832154  96.671256  13.00     47.74
No      19.188278   17.59      8.255582  68.154632  10.07     41.08

                                    tip                        ...       \
       Intervalo Interquartil     Média Mediana Desvio Padrão  ... Moda
smoker                                                         ...
Yes                     13.44  3.008710    3.00      1.401468  ...  2.0
No                       9.43  2.991854    2.74      1.377190  ...  2.0

                                             size                        \
       Intervalo Intervalo Interquartil     Média Mediana Desvio Padrão
smoker
Yes          9.0                  1.680  2.408602     2.0      0.810751
No           8.0                  1.505  2.668874     2.0      1.017984


       Variância Moda Intervalo Intervalo Interquartil
smoker
Yes     0.657317    2         4                    1.0
No      1.036291    2         5                    1.0

[2 rows x 21 columns]

    - Por dia da semana

In [78]:
# Adicionado o calculo das medidas de tendência central e dispersão
values_by_day = (
    df_tips
    .groupby('day')[colunas_numericas]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_day = values_by_day.rename(columns=titulo_tabela)

#Imprimindo o DataFrame
values_by_day

     total_bill                                                    \
          Média Mediana Desvio Padrão  Variância   Moda Intervalo
day
Thur  17.682742   16.20      7.886170  62.191683  13.00     35.60
Fri   17.151579   15.38      8.302660  68.934158  13.42     34.42
Sat   20.441379   18.24      9.480419  89.878338  17.92     47.74
Sun   21.410000   19.63      8.832122  78.006376   7.25     40.92

                                  tip                        ...       \
     Intervalo Interquartil     Média Mediana Desvio Padrão  ... Moda
day                                                          ...
Thur                 7.7125  2.771452   2.305      1.240223  ...  2.0
Fri                  9.6550  2.734737   3.000      1.019577  ...  3.0
Sat                 10.8350  2.993103   2.750      1.631014  ...  3.0
Sun                 10.6100  3.255132   3.150      1.234880  ...  2.0

                                           size                        \
     Intervalo Intervalo Interquartil     Média Mediana Desvio Padrão
day
Thur      5.45                 1.3625  2.451613     2.0      1.066285
Fri       3.73                 1.4050  2.105263     2.0      0.567131
Sat       9.00                 1.3700  2.517241     2.0      0.819275
Sun       5.49                 1.9625  2.842105     2.0      1.007341


     Variância Moda Intervalo Intervalo Interquartil
day
Thur  1.136965    2         5                    0.0
Fri   0.321637    2         3                    0.0
Sat   0.671211    2         4                    1.0
Sun   1.014737    2         4                    2.0

[4 rows x 21 columns]

    - Por Horário da refeição

In [79]:
# Adicionado o calculo das medidas de tendência central e dispersão
values_by_time = (
    df_tips
    .groupby('time')[colunas_numericas]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_time = values_by_time.rename(columns=titulo_tabela)

#Imprimindo o DataFrame
values_by_time

       total_bill                                                    \
            Média Mediana Desvio Padrão  Variância   Moda Intervalo
time
Lunch   17.168676  15.965      7.713882  59.503973  13.42     35.60
Dinner  20.797159  18.390      9.142029  83.576697   7.25     47.74

                                    tip                        ...       \
       Intervalo Interquartil     Média Mediana Desvio Padrão  ... Moda
time                                                           ...
Lunch                  7.2975  2.728088    2.25      1.205345  ...  2.0
Dinner                10.8450  3.102670    3.00      1.436243  ...  2.0

                                             size                        \
       Intervalo Intervalo Interquartil     Média Mediana Desvio Padrão
time
Lunch       5.45                 1.2875  2.411765     2.0      1.040024
Dinner      9.00                 1.6875  2.630682     2.0      0.910241


       Variância Moda Intervalo Intervalo Interquartil
time
Lunch   1.081651    2         5                    0.0
Dinner  0.828539    2         5                    1.0

[2 rows x 21 columns]