In [1]:
# carregar biblioteca 
import pandas as pd
import seaborn as sns

## Leitura do conjunto de dados

### pinguins

In [2]:
df_anscombe = sns.load_dataset('anscombe')
df_anscombe

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

- Dicionário de Dados

In [4]:
dicionario_anscombe = pd.DataFrame([
    {
        "Nome": "dataset",
        "Descricao": "Identifica qual dos quatro subconjuntos está sendo representado",
        "Tipo": "Qualitativo",
        "Subtipo": "Nominal"
    },
    {
        "Nome": "x",
        "Descricao": "Valor da variável X",
        "Tipo": "Quantitativo",
        "Subtipo": "Contínuo"
    },
    {
        "Nome": "y",
        "Descricao": "Valor da variável Y",
        "Tipo": "Quantitativo",
        "Subtipo": "Contínuo"
    }
])

dicionario_anscombe

,Nome,Descricao,Tipo,Subtipo
0,dataset,Identifica qual dos quatro subconjuntos está s...,Qualitativo,Nominal
1,x,Valor da variável X,Quantitativo,Contínuo
2,y,Valor da variável Y,Quantitativo,Contínuo

- Estatística de tendência central e dispersão

In [5]:
#Funções que calculam a moda, o intervalo e o intervalo interquartil

#Função para calcular a moda
def mode(column):
    mode = column.mode()
    if not mode.empty: 
        return mode.iloc[0]
    else:
        return None
    
#Função para calcular o intervalo
def intervalo(column):
    inter = column.max() - column.min()
    return inter

#Função para calcular o intervalo interquartil
def intervalo_interquartil(column):
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)
    iqr = q3 - q1
    return iqr

In [6]:
# Lista para renomear o  titulo das colunas para melhor compreensão
titulo_tabela = {
    'mean': 'Média',
    'median': 'Mediana',
    'std': 'Desvio Padrão',
    'var': 'Variância',
    'mode': 'Moda',
    'intervalo': 'Intervalo',
    'intervalo_interquartil': 'Intervalo Interquartil'
}

In [8]:
# Filtrar apenas as colunas numéricas
numeric_columns  = df_anscombe.select_dtypes(include=['number'])

# Adicionado o calculo das medidas de tendência central e dispersão
tendencia_central_e_dispersao_values =  numeric_columns .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
#Renomeando as colunas
tendencia_central_e_dispersao_values.rename(titulo_tabela, inplace=True)

#Imprimindo o DataFrame
tendencia_central_e_dispersao_values

                                x         y
Média                    9.000000  7.500682
Mediana                  8.000000  7.520000
Desvio Padrão            3.198837  1.958925
Variância               10.232558  3.837388
Moda                     8.000000  8.840000
Intervalo               15.000000  9.640000
Intervalo Interquartil   4.000000  2.630000

- Calculo estastítica de forma separada para cada variável categórica

In [10]:
# Criando uma lista com as colunas numericas
colunas_numericas = df_anscombe.select_dtypes(include=['number']).columns

    - Por Dataset

In [11]:
# Adicionado o calculo das medidas de tendência central e dispersão
values_by_dataset = (
    df_anscombe
    .groupby('dataset')[colunas_numericas]
    .agg(['mean', 'median','std', 'var', mode, intervalo, intervalo_interquartil])
)

#Renomeando as colunas
values_by_dataset = values_by_dataset.rename(columns=titulo_tabela)

#Imprimindo o DataFrame
values_by_dataset

            x                                                 \
        Média Mediana Desvio Padrão Variância Moda Intervalo
dataset
I         9.0     9.0      3.316625      11.0  4.0      10.0
II        9.0     9.0      3.316625      11.0  4.0      10.0
III       9.0     9.0      3.316625      11.0  4.0      10.0
IV        9.0     8.0      3.316625      11.0  8.0      11.0

                                       y                                  \
        Intervalo Interquartil     Média Mediana Desvio Padrão Variância
dataset
I                          5.0  7.500909    7.58      2.031568  4.127269
II                         5.0  7.500909    8.14      2.031657  4.127629
III                        5.0  7.500000    7.11      2.030424  4.122620
IV                         0.0  7.500909    7.04      2.030579  4.123249


         Moda Intervalo Intervalo Interquartil
dataset
I        4.26      6.58                  2.255
II       3.10      6.16                  2.255
III      5.39      7.35                  1.730
IV       5.25      7.25                  2.020